<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
</head>
<body>
    <h2>비밀번호 재설정</h2>
    <form action="/resetpw" method="post">
        <p><input type="password" name="new_pwd" placeholder="새 비밀번호"></p>
        <p><input type="password" name="new_pwd2" placeholder="비밀번호 재확인"></p>
        <p><input type="submit" value="재설정"></p>
    </form>
    <p><a href="/login">로그인화면으로 돌아가기</a></p>
</body>
</html>
