<!DOCTYPE html>
<html>
    <style>
        body {
    margin: 0;
    }

    .administratorSidebar {
        width: auto; 
        height: 100vh; 
        position: fixed; 
        background-color: #F5F5F5; 
        color: black;
    }

    .administratorSidebar h2 {
    text-align: center;
    }

    .administratorSidebar a {
        padding: 10px 20px; 
        text-decoration: none; 
        font-size: 20px; 
        color: black;
        display: block;   
    }

    .administratorSidebar a:hover {
        background-color: #bab9b9;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: right;
    }

    .administratorMain {
        margin-left: 200px;
        padding: 10px;
        font-size: 15px; 
    }

    .logout-btn {
        padding: 10px 20px;
        background-color: #717172;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .logout-btn:hover {
        background-color: black;
    }

    .content {
        display: none;
    }
    </style>
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
<link rel="stylesheet" href="adminPageCss.css">
</head>

<body>
<div class="administratorSidebar">
    <div class="header"></div>
    <h2>관리자 메뉴</h2>
    <a href="memberAdminister" onclick="showContent('member')">회원 관리</a>
    <a href="board" onclick="showContent('board')">고객 게시판 관리</a>
    <a href="notice" onclick="showContent('notice')">공지사항 작성</a>
</div>
</div>

<div class="administratorMain">
    <h1>관리자페이지</h1>
    <button class="logout-btn">로그아웃</button>
    </div>

<div id="pharmacy" class="content">
    <h2>약국 관리</h2>
    
</div>

<div id="emergency" class="content">
    <h2>응급실 관리</h2>
    
</div>

<div id="member" class="content">
    <h2>회원 관리</h2>
    
</div>

<div id="wishlist" class="content">
    <h2>찜리스트 관리</h2>
    
</div>

<div id="customerBoard" class="content">
    <h2>고객 게시판 관리</h2>
</div>

<div id="notice" class="content">
    <h2>공지사항 작성</h2>
    

</div>

</div>


</body>
</html>
