<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빠른 공지사항 작성</title>
    <link rel="stylesheet" href="notice.css">
</head>

<body>
    <header>
        <h1>공지사항 작성</h1>
    </header>

    <div class="notice-container">
<form>
        <input type="text" placeholder="제목">
        <textarea placeholder="내용"></textarea>
        <input type="submit" value="등록하기">
    </form>
</div>
</body>

</html>
