
<!DOCTYPE html>
<html>
    <style>
        body {
    margin: 0;
height: 100%;
}

.administratorSidebar {
    width: auto; 
    height: 100vh; 
    position: fixed; 
    background-color: #F5F5F5; 
    color: black;
}
.header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

.administratorSidebar h2 {
   text-align: center;
}

.administratorSidebar a {
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 20px; 
    color: black;
    display: block;   
 }

.administratorSidebar a:hover {
    background-color: #bab9b9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.administratorMain {
    margin-left: 200px;
    padding: 10px;
    font-size: 15px; 
}

.logout-btn {
    padding: 10px 20px;
    background-color: #717172;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
float: right;
}

.logout-btn:hover {
    background-color: black;
}

.content {
    display: none;
}
    </style>
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
</head>

<body>
<div class="administratorSidebar">
    <div class="header"></div>
    <h2>관리자 메뉴</h2>
    <a href="pharmacy.html" onclick="showContent('pharmacy')">약국 관리</a>
    <a href="emergency.html" onclick="showContent('emergency')">응급실 관리</a>
    <a href="memberAdminister.html" onclick="showContent('member')">회원 관리</a>
    <a href="wishlistadminister.html" onclick="showContent('wishlist')">찜리스트 관리</a>
    <a href="..board/views/board/auth" onclick="showContent('customerBoard')">고객 게시판 관리</a>
    <a href="..views/notice/notice" onclick="showContent('notice')">공지사항 작성</a>
</div>
</div>

<div class="administratorMain">
<div class="header">
    <h1>관리자 페이지</h1>
<button class="logout-btn">로그아웃</button>
</div>

<div id="welcome">
    <h2>관리자님, 반갑습니다!</h2>
</div>

<div id="pharmacy" class="content">
    <h2>약국 관리</h2>
</div>

<div id="emergency" class="content">
    <h2>응급실 관리</h2>
</div>

<div id="member" class="content">
    <h2>회원 관리</h2>
</div>

<div id="wishlist" class="content">
    <h2>찜리스트 관리</h2>
    
</div>

<div id="customerBoard" class="content">
    <h2>고객 게시판 관리</h2>
</div>

<div id="notice" class="content">
    <h2>공지사항 작성</h2>
    

</div>

</div>


</body>
</html>
