<!DOCTYPE html>
<html>
<style>
body {
    margin: 0;
}

.wishlistContainer {
    display: flex;
    height: 100vh;
}

#map {
    width: 70%;
    height: 100%;
}

.list {
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #f8f8f8;
    border-left: 2px solid #ddd;
}

.list .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.list .tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    border: none;
    outline: none;
}

.list .tab.active {
    background-color: black;
    font-weight: bold;
    color:white;
}

.list ul {
    list-style-type: none;
    padding: 0;
    display: none;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>찜리스트</title>
    <link rel="stylesheet" href="wishlistCss.css">
</head>
<body>
    <h2>리스트</h2>
    <div class="wishlist_list">
        <div class="wishlist_item">
            <div class="list_title">응급실</div>
            <div class="list_description">응급실목록</div>
        </div>
      </div>
</body>
</html>
