<%- include("include/header") -%>

<div class="container">
	<h3>메소드를 POST로 보내기</h3>
	<form action="method_result" method="post">
		<div class="form-floating mb-3">
			<div class="form-floating mb-3">
				<input type="text" class="form-control" name="val1">
				<label for="floatingInput">값 1 : </label>
			</div>
			<div class="form-floating mb-3">
				<input type="text" class="form-control" name="val2">
				<label for="floatingPassword">값 2 : </label>
			</div>
		</div>
		<div class="d-grid gap-2 mb-3">
			<input type="submit" class="btn btn-primary" value="전송하기">
		</div>
	</form>
</div>

<%- include("include/footer") -%>
