	</div>
</body>

<footer>
	<p>&copy; Express_test</p>
	<script src="/js/bootstrap.bundle.js"></script>
	<script src="/js/jquery.js"></script>
</footer>

</html>

<script>
	$(document).ready(function() {
		//alert("jquery");
	})

</script>
