<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴</title>
    <link rel="stylesheet" href="mypageCss.css">
</head>
<body>
    <h2>회원 탈퇴</h2>
    <p>정말로 회원 탈퇴를 하시겠습니까? 이 작업은 되돌릴 수 없습니다.</p>
    <form action="/signout" method="POST">
        <button type="submit">회원 탈퇴</button>
        <a href="/mypage">취소</a>
    </form>
</body>
</html>