                                </ul>
                                <div class="btn-box">
                                    <input class="delete-btn" type="submit" value="회원탈퇴">
                                </div>
                                <input type="hidden" name="idx" id="idx" th:value="${session.LoginIn.idx}">
                            </form>
                            <script th:if="${msg != null}" th:inline="javascript">
                                alert([[$,{msg}]]);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:insert="~{fragment/footer::footer_a}">

    </footer>

   
</body>

</html>